<!DOCTYPE html>

<html ng-app="myApp" >
<head>
    <title></title>
    <meta name="description" content="">
    <meta charset="utf-8" >

    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


</head>
<body >
    <div class="container" id="main">

hi

    </div>


</body>
</html>










